<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>getBrand</servlet-name>
        <servlet-class>servlets.getBrand</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getModel</servlet-name>
        <servlet-class>servlets.getModel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>newBrand</servlet-name>
        <servlet-class>servlets.newBrand</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>newModelToBrand</servlet-name>
        <servlet-class>servlets.newModelToBrand</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editAvgPrice</servlet-name>
        <servlet-class>servlets.editAvgPrice</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>precioEnRango</servlet-name>
        <servlet-class>servlets.precioEnRango</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>getBrand</servlet-name>
        <url-pattern>/getBrand</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getModel</servlet-name>
        <url-pattern>/getModel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>newBrand</servlet-name>
        <url-pattern>/newBrand</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>newModelToBrand</servlet-name>
        <url-pattern>/newModelToBrand</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editAvgPrice</servlet-name>
        <url-pattern>/editAvgPrice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>precioEnRango</servlet-name>
        <url-pattern>/precioEnRango</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
